@import "reset.css";
$color01: #121921;  //黑色
$color02: #1C8F8A;  //蓝色
$color03: #b30011;  //红色
body {
	background-color: #EEE;
}
.font-green {
	color: lighten($color02,10%);
}
.font-red {
	color: lighten($color03,10%);
}
.h100 {
	height: 100%;
}
.icon {
	display: inline-block;
    background: url(../css/img/sprite.png) no-repeat;
}
.icon-close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-position: -60px -40px;
}
.flo {
}
.hide {
	display: none;
}
.filter {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
	    -ms-filter: blur(2px);
	        filter: blur(2px);
}
.header {
	width: 100%;
	// height: 100px;
	height: 60px;
	.logo {
		display: inline-block;
		width: 180px;
		// height: 100px;
		height: 60px;
		text-align: center;
		background-color: $color02;
		.logo-img {
			margin-top: 18px;
			margin-bottom: 10px;
			width: 40px;
		}
		.name {
			font-size: 16px;
			font-weight: bold;
			line-height: 60px;
			color: #fff;
		}
	}
	.user {
		display: inline-block;
		float: right;
		margin-right: 30px;
		font-size: 16px;
		font-weight: bold;
		// line-height: 100px;
		line-height: 60px;
		.name {
			margin-left: 20px;
			color: $color02;
		}
		.out {
			margin-left: 20px;
			color: $color01;
		}
	}
}
.banner {
	width: 100%;
	height: 100px;
	background-image: url(../images/banner-bg.jpg);
	.title {
		float: left;
		margin-top: 14px;
    	margin-left: 24px;
		color: #fff;
		.user-icon {
			width: 40px;
		}
		span {
			display: block;
			line-height: 1.2em;
		}
	}
	.color-box1,
	.color-box2 {
		float: right;
		width: 120px;
		height: 100px;
		background-color: #6db0a2;
		background-color: rgba(109, 176, 162, 0.6);
	}
	.color-box2 {
		background-color: #c0c467;
		background-color: rgba(192, 196, 103, 0.6);
	}
}
.topNav {
	overflow: auto;
	float: left;
	width: 180px;
	height: 515px;
	background-color: $color01;
	li {
		position: relative;
		font-size: 14px;
		color: #fff;
		a {
			cursor: pointer;
			display: block;
			height: 60px;
			padding-left: 24px;
			line-height: 60px;
			color: #fff;
			border-bottom: 1px solid #fff;
		}
		.icon-on,
		.icon-off {
		    position: absolute;
		    top: 23px;
		    right: 24px;
			width: 14px;
		    height: 14px;
	    }
		.icon-on {
		    background-position: -20px -40px;
		}
		.icon-off {
		    background-position: 0 -40px;
		}
		li {
			font-size: 12px;
			a {
				padding-left: 60px;
				height: 35px;
				line-height: 35px;
			}
		}
		.active {
			color: lighten($color02,20%);
		}
	}
}
iframe {
	box-sizing: border-box;
	float: left;
	width: calc(100% - 180px);
	height: 525px;
	border: 0;
}
.main {
	//position: relative;
	overflow:hidden;
	box-sizing: border-box;
	padding: 20px;
	aside.text{
		position: absolute;
		top: 0;
		right: 0;
		box-sizing: border-box;
		width: 240px;
		padding: 16px 20px;
		line-height: 2em;
		text-align: justify;
		background-color: #fff;
		h1 {
			font-size: 14px;
			font-weight: bold;
		}
		p {
			font-size: 12px;
		}
	}
	.content {
		overflow:auto;
		width: 100%;
		height: 100%;
	}
	.sw {
		width: calc(100% - 240px);
	}
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background-color: $color01;
}
.panel {
	position: relative;
	box-sizing: border-box;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	min-width: 440px;
	border-radius: 5px;
	background-color: #fff;
	.wc600 {
		position: relative;
		// margin: 0 auto;
		max-width: 600px;
		min-width: 400px;
	}
	.change-btn {
		cursor: pointer;
		position: absolute;
		top: -24px;
		right: 20px;
		color: #eb4f38;
		.icon-change {
			width: 17px;
			height: 17px;
			vertical-align:middle;
		    background-position: -40px -40px;
		}
		.text {
			font-weight: bold;
			color: #eb4f38;
			line-height: 17px;
			vertical-align:middle;
		}
	}
}
.table-header {
	margin-bottom: 20px;
	font-weight: bold;
	.header-left {
		display: inline-block;
		float: left;
		label {
			display: inline-block;
			line-height: 30px;
			vertical-align:middle;
		}
		select {
			margin-right: 10px;
			padding: 5px;
			font-size: 12px;
			vertical-align:middle;
			border: 1px solid $color02;
			border-radius: 5px;
		}
		input {
			margin-right: 10px;
			padding: 6px 5px;
			width: 100px;
			font-size: 12px;
			vertical-align:middle;
			border: 1px solid $color02;
			border-radius: 5px;
		}
	}
	.header-right {
		display: inline-block;
		float: right;
		.search {
			input {
				padding: 0 5px;
				width: 160px;
				height: 28px;
				line-height: 28px;
				vertical-align:middle;
				border: 1px solid $color02;
				border-radius: 5px 0 0 5px;
			}
			button {
				cursor: pointer;
				width: 40px;
				height: 30px;
				vertical-align:middle;
				border: 1px solid $color02;
				border-left: 0;
				border-radius: 0 5px 5px 0;
				background-color: #fff;
		    	background-position: 0 -60px;
			}
		}
	}
	a {
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 30px;
		color: #fff;
		vertical-align:middle;
		border-radius: 5px;
		background-color: lighten($color02,10%);
	}
}
.table-body	{
	overflow: auto;
	width: 100%;
	height: calc(100% - 50px);
	table {
		width: 100%;
		min-width: 800px;
		border-radius: 5px;
		background-color: #fff;
		thead {
			line-height: 50px;
			vertical-align: middle;
		}
		tbody {
			font-size: 12px;
			text-align: center;
			border-top: 1px solid #EFEFEF;
			tr {
				line-height: 50px;
				border-bottom: 1px solid #EFEFEF;
			}
			a {
				cursor: pointer;
				font-size: 14px;
				margin-left: 10px;
				margin-right: 10px;
				font-weight: bold;
			}
		}
		tfoot {
			font-size: 12px;
			line-height: 50px;
			a {
				margin-left: 5px;
				margin-right: 5px;
				color: lighten($color02,10%);
			}
			.left {
				display: inline;
				float: left;
			}
			.right {
				display: inline;
				float: right;
				input {
					margin-left: 3px;
					margin-right: 3px;
					width: 30px;
					text-align: center;
				}
			}
		}
		td {
			padding: 0 15px;
		}
		input[type="checkbox"] {
			vertical-align: middle;
		}
		tt {
			vertical-align: middle;
		}
	}
}
.table-body-h100 {
	height: 100%;
}
.form-group {
	margin-top: 30px; 
	margin-bottom: 30px; 
	label,.label {
		display: inline-block;
		width: 30%;
		font-size: 18px;
		line-height: 40px;
		text-align: right;
		vertical-align:middle;
	}
	input,.input {
		box-sizing: border-box;
		display: inline-block;
		width: 40%;
		min-width: 100px;
		height: 40px;
		padding: 10px;
		font-size: 14px;
		vertical-align:middle;
		border:2px solid #c9c9c9;
		border-radius: 5px;
	}
	.input {
		font-size: 18px;
		border: 0;
	}
	textarea {
		box-sizing: border-box;
		display: inline-block;
		width: 40%;
		padding: 10px;
		font-size: 14px;
		line-height: 1.5em;
		vertical-align:top;
		border:2px solid #c9c9c9;
		border-radius: 5px;
	}
	select {
		display: inline-block;
		width: 40%;
		padding: 8px;
		line-height: 36px;
		border:2px solid #c9c9c9;
		border-radius: 5px;
	}
	.pic {
		margin-right: 40px;
		width: 60px;
		height: 60px;
		vertical-align:middle;
		border-radius: 5px;
	}
	.btn {
		vertical-align:middle;
	}
	.error {
		width: 30%;
		min-width: 150px;
		color: red;
		line-height: 40px;
	}
}
.form-checkbox {
	display: inline-block;
	margin-right: 30px;
	.checkbox-text {
		cursor: pointer;
		width: inherit;
		font-size: 16px;
		line-height: 40px;
		vertical-align:middle;
	}
	.checkbox-img {
		display: inline-block;
		width: 22px;
		height: 20px;
		vertical-align:middle;
		background: url(img/sprite.png);
		background-position: -10px -10px;
	}
	input {
		position: absolute;
		visibility: hidden;
		&:checked + .checkbox-img {
			background-position: -50px -10px;
		}
	}
}
.form-button {
	display: block;
	margin-top: 30px; 
	margin-bottom: 30px;
	margin-left: 30%;
	button[type="submit"],
	.submit {
		padding-left: 50px;
		padding-right: 50px;
		background-color: #b90000;
	}
}
.btn {
	cursor: pointer;
	display: inline-block;
	margin-right: 15px;
	padding: 14px 20px;
	font-size: 18px;
	color: #fff;
	//line-height: 40px;
	border-radius: 5px;
	background-color: $color02;
}
.config {
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	font-size: 14px;
	vertical-align:top;
	border:2px solid #c9c9c9;
	border-radius: 5px;
	.head {
		padding: 10px 10px 5px 10px;
		border-bottom: 2px solid #c9c9c9;
		a {
			cursor: pointer;
			display: inline-block;
			margin-bottom: 5px;
			margin-right: 5px;
			padding: 5px 8px;
			color:#fff;
			border-radius: 4px;
			background-color: #c9c9c9;
		}
		.on {
			background-color: $color02;
		}
		.active {
			background-color: lighten($color02,10%);
		}
		.error {
			background-color: $color03;
		}
	}
	.body {
		padding: 0 10px;
		label {
			width:3.5em;
			font-size: 14px;
		}
		input {
			margin-top: 6px;
			margin-bottom: 6px;
			width: calc(100% - 3.5em);
			height: 28px;
			line-height: 28px;
			border: 0;
		}
		hr {
			border-bottom: 1px solid #c9c9c9;
		}
	}
	.video {
		label {
			width:6.5em;
		}
		input {
			width: calc(100% - 6.5em);
		}
	}
}
.altContent-shell {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 400px;
	padding: 20px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px #aaa;
}
.state-image {
	display: inline-block;
	width: 20px;
    height: 20px;
	vertical-align:middle;
	background-size: 100% 100%;
}
.state-on {
	background-image: url("../images/state-on.png");
}
.state-off {
	background-image: url("../images/state-off.png");
}
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover,.close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
@media screen and (max-height:800px) {
	.banner {
		height: 40px;
		.title {
			margin-top: 12px;
			.user-icon {
				display: none;
			}
			span {
				display: inline;
			}
		}
		.color-box1,
		.color-box2 {
			height: 40px;
		}
	}
	.table-body table tbody tr {
		line-height: 40px;
	}
}
// @media screen and (max-width:900px) {
// 	.main {
// 		aside.text{
// 			display:none;
// 		}
// 		.sw {
// 			width: 100%;
// 		}
// 	}
// 	.table-body	{
// 		height: calc(100% - 80px);
// 	}
// }