@import url(reset.css);
body {
  background-color: #EEE; }

.font-green {
  color: #24bab3; }

.font-red {
  color: #e60016; }

.h100 {
  height: 100%; }

.icon {
  display: inline-block;
  background: url(../css/img/sprite.png) no-repeat; }

.icon-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-position: -60px -40px; }

.hide {
  display: none; }

.filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.header {
  width: 100%;
  height: 60px; }
  .header .logo {
    display: inline-block;
    width: 180px;
    height: 60px;
    text-align: center;
    background-color: #1C8F8A; }
    .header .logo .logo-img {
      margin-top: 18px;
      margin-bottom: 10px;
      width: 40px; }
    .header .logo .name {
      font-size: 16px;
      font-weight: bold;
      line-height: 60px;
      color: #fff; }
  .header .user {
    display: inline-block;
    float: right;
    margin-right: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px; }
    .header .user .name {
      margin-left: 20px;
      color: #1C8F8A; }
    .header .user .out {
      margin-left: 20px;
      color: #121921; }

.banner {
  width: 100%;
  height: 100px;
  background-image: url(../images/banner-bg.jpg); }
  .banner .title {
    float: left;
    margin-top: 14px;
    margin-left: 24px;
    color: #fff; }
    .banner .title .user-icon {
      width: 40px; }
    .banner .title span {
      display: block;
      line-height: 1.2em; }
  .banner .color-box1,
  .banner .color-box2 {
    float: right;
    width: 120px;
    height: 100px;
    background-color: #6db0a2;
    background-color: rgba(109, 176, 162, 0.6); }
  .banner .color-box2 {
    background-color: #c0c467;
    background-color: rgba(192, 196, 103, 0.6); }

.topNav {
  overflow: auto;
  float: left;
  width: 180px;
  height: 515px;
  background-color: #121921; }
  .topNav li {
    position: relative;
    font-size: 14px;
    color: #fff; }
    .topNav li a {
      cursor: pointer;
      display: block;
      height: 60px;
      padding-left: 24px;
      line-height: 60px;
      color: #fff;
      border-bottom: 1px solid #fff; }
    .topNav li .icon-on,
    .topNav li .icon-off {
      position: absolute;
      top: 23px;
      right: 24px;
      width: 14px;
      height: 14px; }
    .topNav li .icon-on {
      background-position: -20px -40px; }
    .topNav li .icon-off {
      background-position: 0 -40px; }
    .topNav li li {
      font-size: 12px; }
      .topNav li li a {
        padding-left: 60px;
        height: 35px;
        line-height: 35px; }
    .topNav li .active {
      color: #39d8d1; }

iframe {
  box-sizing: border-box;
  float: left;
  width: calc(100% - 180px);
  height: 525px;
  border: 0; }

.main {
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px; }
  .main aside.text {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 240px;
    padding: 16px 20px;
    line-height: 2em;
    text-align: justify;
    background-color: #fff; }
    .main aside.text h1 {
      font-size: 14px;
      font-weight: bold; }
    .main aside.text p {
      font-size: 12px; }
  .main .content {
    overflow: auto;
    width: 100%;
    height: 100%; }
  .main .sw {
    width: calc(100% - 240px); }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #121921; }

.panel {
  position: relative;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  min-width: 440px;
  border-radius: 5px;
  background-color: #fff; }
  .panel .wc600 {
    position: relative;
    max-width: 600px;
    min-width: 400px; }
  .panel .change-btn {
    cursor: pointer;
    position: absolute;
    top: -24px;
    right: 20px;
    color: #eb4f38; }
    .panel .change-btn .icon-change {
      width: 17px;
      height: 17px;
      vertical-align: middle;
      background-position: -40px -40px; }
    .panel .change-btn .text {
      font-weight: bold;
      color: #eb4f38;
      line-height: 17px;
      vertical-align: middle; }

.table-header {
  margin-bottom: 20px;
  font-weight: bold; }
  .table-header .header-left {
    display: inline-block;
    float: left; }
    .table-header .header-left label {
      display: inline-block;
      line-height: 30px;
      vertical-align: middle; }
    .table-header .header-left select {
      margin-right: 10px;
      padding: 5px;
      font-size: 12px;
      vertical-align: middle;
      border: 1px solid #1C8F8A;
      border-radius: 5px; }
    .table-header .header-left input {
      margin-right: 10px;
      padding: 6px 5px;
      width: 100px;
      font-size: 12px;
      vertical-align: middle;
      border: 1px solid #1C8F8A;
      border-radius: 5px; }
  .table-header .header-right {
    display: inline-block;
    float: right; }
    .table-header .header-right .search input {
      padding: 0 5px;
      width: 160px;
      height: 28px;
      line-height: 28px;
      vertical-align: middle;
      border: 1px solid #1C8F8A;
      border-radius: 5px 0 0 5px; }
    .table-header .header-right .search button {
      cursor: pointer;
      width: 40px;
      height: 30px;
      vertical-align: middle;
      border: 1px solid #1C8F8A;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      background-color: #fff;
      background-position: 0 -60px; }
  .table-header a {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    color: #fff;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #24bab3; }

.table-body {
  overflow: auto;
  width: 100%;
  height: calc(100% - 50px); }
  .table-body table {
    width: 100%;
    min-width: 800px;
    border-radius: 5px;
    background-color: #fff; }
    .table-body table thead {
      line-height: 50px; }
    .table-body table tbody {
      font-size: 12px;
      text-align: center;
      border-top: 1px solid #EFEFEF; }
      .table-body table tbody tr {
        line-height: 50px;
        border-bottom: 1px solid #EFEFEF; }
      .table-body table tbody a {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold; }
    .table-body table tfoot {
      font-size: 12px;
      line-height: 50px; }
      .table-body table tfoot .left {
        display: inline;
        float: left; }
      .table-body table tfoot .right {
        display: inline;
        float: right; }
        .table-body table tfoot .right a {
          margin-left: 5px;
          margin-right: 5px;
          color: #121921; }
          .table-body table tfoot .right a:hover {
            color: #24bab3; }
        .table-body table tfoot .right input {
          margin-left: 3px;
          margin-right: 3px;
          width: 30px;
          text-align: center; }
    .table-body table td {
      padding: 0 15px; }

.table-body-h100 {
  height: 100%; }

.form-group {
  margin-top: 30px;
  margin-bottom: 30px; }
  .form-group label, .form-group .label {
    display: inline-block;
    width: 30%;
    font-size: 18px;
    line-height: 40px;
    text-align: right;
    vertical-align: middle; }
  .form-group input, .form-group .input {
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    min-width: 100px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    border: 2px solid #c9c9c9;
    border-radius: 5px; }
  .form-group .input {
    font-size: 18px;
    border: 0; }
  .form-group textarea {
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5em;
    vertical-align: top;
    border: 2px solid #c9c9c9;
    border-radius: 5px; }
  .form-group select {
    display: inline-block;
    width: 40%;
    padding: 8px;
    line-height: 36px;
    border: 2px solid #c9c9c9;
    border-radius: 5px; }
  .form-group .pic {
    margin-right: 40px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 5px; }
  .form-group .btn {
    vertical-align: middle; }
  .form-group .error {
    width: 30%;
    min-width: 150px;
    color: red;
    line-height: 40px; }

.form-checkbox {
  display: inline-block;
  margin-right: 30px; }
  .form-checkbox .checkbox-text {
    cursor: pointer;
    width: inherit;
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle; }
  .form-checkbox .checkbox-img {
    display: inline-block;
    width: 22px;
    height: 20px;
    vertical-align: middle;
    background: url(img/sprite.png);
    background-position: -10px -10px; }
  .form-checkbox input {
    position: absolute;
    visibility: hidden; }
    .form-checkbox input:checked + .checkbox-img {
      background-position: -50px -10px; }

.form-button {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%; }
  .form-button button[type="submit"],
  .form-button .submit {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #b90000; }

.btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
  border-radius: 5px;
  background-color: #1C8F8A; }

.config {
  box-sizing: border-box;
  display: inline-block;
  width: 40%;
  font-size: 14px;
  vertical-align: top;
  border: 2px solid #c9c9c9;
  border-radius: 5px; }
  .config .head {
    padding: 10px 10px 5px 10px;
    border-bottom: 2px solid #c9c9c9; }
    .config .head a {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 5px;
      padding: 5px 8px;
      color: #fff;
      border-radius: 4px;
      background-color: #c9c9c9; }
    .config .head .on {
      background-color: #1C8F8A; }
    .config .head .active {
      background-color: #24bab3; }
    .config .head .error {
      background-color: #b30011; }
  .config .body {
    padding: 0 10px; }
    .config .body label {
      width: 3.5em;
      font-size: 14px; }
    .config .body input {
      margin-top: 6px;
      margin-bottom: 6px;
      width: calc(100% - 3.5em);
      height: 28px;
      line-height: 28px;
      border: 0; }
    .config .body hr {
      border-bottom: 1px solid #c9c9c9; }
  .config .video label {
    width: 6.5em; }
  .config .video input {
    width: calc(100% - 6.5em); }

.altContent-shell {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #aaa; }

@media screen and (max-height: 800px) {
  .banner {
    height: 40px; }
    .banner .title {
      margin-top: 12px; }
      .banner .title .user-icon {
        display: none; }
      .banner .title span {
        display: inline; }
    .banner .color-box1,
    .banner .color-box2 {
      height: 40px; }

  .table-body table tbody tr {
    line-height: 40px; } }

/*# sourceMappingURL=style.css.map */
