.demo .preview { display: none; }
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none; }
.panel-subsys .title {
    display: block;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
    font-size: 100%;
    line-height: 1em;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #b1d1a7;
    background: #E7F3E1 url("../img/ui-bg_glass_80_d7ebf9_1x400 - fb.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #2b7d17;
}
.panel-subsys .title span {
    float: right;
}
.panel-subsys .body {
    padding: 1em 1.4em 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #dddddd;
    border-top: 0;
    background: #f2f5f7 url("../img/ui-bg_highlight-hard_100_f2f5f7_1x100.png") 50% top repeat-x;
    color: #362b36;
    margin: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.panel-subsys .body .button {
    display: block;
    margin: 25px auto 20px auto;
    width: 80%;
}
.panel-sensor {
    height: 298px;/*300*/
    margin-bottom: 20px;
    /*margin-left: 2%;
    margin-right: 2%;*/
    border-radius: 6px;
	border: 1px solid #C4C4C4;
    background: #fff;
}
.panel-switch {
    height: 138px;/*140*/
}
.panel-sensor .title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 1em;
    min-height: 0; /* support: IE7 */
    font-size: 1em;
    line-height: 2.4em;
    border-radius: 6px 6px 0 0;
    background: #F5F5F5;
    font-weight: 100;
}
.panel-sensor .body {
    box-sizing: border-box;
    position: relative;
    padding: 1em 1.4em;
    overflow: auto;
    height: calc(100% - 33px);
    color: #362b36;
    margin: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    text-align: center;
}
/* camera */
.camera-btn a {
    display: inline-block;
    cursor: pointer;
    outline:none;
    border: 0;
    background-image: url(img/camera-btn.png);
}
.camera-btn .top-left {
    position: absolute;
    top: 5%;
    left: 5%;
}
.camera-btn .top-left a.power-off {
    width: 76px;
    height: 28px;
    background-position: 0 -250px;
}
.camera-btn .top-left a.power-on {
    width: 76px;
    height: 28px;
    background-position: -130px -250px;
}
.camera-btn .right {
    position: absolute;
    top: calc(42% - 60px);
    right: 5%;
    width: 120px;
    height: 120px;
}
.camera-btn .right a {
    position: absolute;
    width: 40px;
    height: 40px;
}
.camera-btn .right a[ctr_cmd="UP"] {
    top: 0;
    left: 40px;
    background-position: -40px 0;
}
.camera-btn .right a[ctr_cmd="UP"]:active {
    background-position: -170px 0;
}
.camera-btn .right a[ctr_cmd="LEFT"] {
    top: 40px;
    left: 0;
    background-position: 0 -40px;
}
.camera-btn .right a[ctr_cmd="LEFT"]:active {
    background-position: -130px -40px;
}
.camera-btn .right a[ctr_cmd="RIGHT"] {
    top: 40px;
    right: 0;
    background-position: -80px -40px;
}
.camera-btn .right a[ctr_cmd="RIGHT"]:active {
    background-position:  -210px -40px;
}
.camera-btn .right a[ctr_cmd="DOWN"] {
    bottom: 0;
    left: 40px;
    background-position: -40px -80px;
}
.camera-btn .right a[ctr_cmd="DOWN"]:active {
    background-position: -170px -80px;
}
.camera-btn .bottom {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: calc(100% - 10%);
}
.camera-btn .bottom a {
    width: 80px;
    height: 30px;
}
.camera-btn .bottom a[ctr_cmd="HPATROL"] {
    float: left;
    background-position: 0 -130px;
}
.camera-btn .bottom a[ctr_cmd="HPATROL"]:active {
    background-position: -130px -130px;
}
.camera-btn .bottom a[ctr_cmd="360PATROL"] {
    background-position: 0 -170px;
}
.camera-btn .bottom a[ctr_cmd="360PATROL"]:active {
    background-position: -130px -170px;
}
.camera-btn .bottom a[ctr_cmd="VPATROL"] {
    float: right;
    background-position: 0 -210px;
}
.camera-btn .bottom a[ctr_cmd="VPATROL"]:active {
    background-position: -130px -210px;
}
.camera-img{
    height: 100%;
}
/* camera */