/* header 项目页头 */
header {
	margin: 0 auto 20px auto;
	width: 100%;
	background-color: #2D93E8;
}
header img {
	float: left;
	margin-left: 30px;
	width: 80px;
	height: 80px;
}
header hgroup {
	float: left;
	margin-left: 20px;
	width: calc(100% - 130px);
	color: #fff;
}
header hgroup h1 {
	margin: 0;
	font-family: "微软雅黑";
	font-size: 24px;
	line-height: 2em;
}
header hgroup h2 {
	margin: 0;
	font-size: 14px;
	line-height: 1.4em;
}
.header-bg {
	position: absolute;
	top: 0;
	left: -50%;
	z-index: -1;
	width: 200%;
	height: 80px;
	background-color: #2D93E8;
}
/* footer 项目页尾 */
footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	background-color: #0D1428;
}
footer p{margin: 0;}
.footer-bg {
	position: absolute;
	top: 0;
	left: -50%;
	z-index: -1;
	width: 200%;
	height: 50px;
	background-color: #0D1428;
}
/* alarm 报警器 */
.alarm .button {text-align: right;}
.alarm img {display: block;margin: 0 auto;width: 40%;}
.alarm .value {text-align: center;}
/* attr 属性编辑窗口 */
.attr {
	position: fixed;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	padding-left: 200px;
	background-color: #F5F5F5;
	border-top: 1px solid #ddd;
}
.attr-header {
	border-bottom: 1px solid #ddd;
	padding: 4px 15px;
	color: #666666;
}
.attr-body {
	padding: 14px 25px 5px 25px;
	background-color: #fafafa;
}
.attr .input-prepend .add-on,
.attr .input-prepend input {
	font-size: 9px;
}
.attr .btn {
	margin-top: -10px;
	font-size: 9px;
}
/* attr base */
.mr10p {
	margin-right: 10px;
}
.w50p {
	width: 50px;
}
.w100p {
	width: 100px;
}
.w150p {
	width: 150px;
}
.w200p {
	width: 200px;
}
/*btn*/
.btn-primary {

}
.btn-primary{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#24bab3;
	background-image:-moz-linear-gradient(top, #24bab3, #24bab3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#24bab3), to(#24bab3));
	background-image:-webkit-linear-gradient(top, #24bab3, #24bab3);
	background-image:-o-linear-gradient(top, #24bab3, #24bab3);
	background-image:linear-gradient(to bottom, #24bab3, #24bab3);
	background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff#24bab3', endColorstr='#ff#24bab3', GradientType=0);
	border-color:#0044cc #0044cc #002a80;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color:#24bab3;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{
	color:#ffffff;
	background-color:#24ACA6;
	*background-color:#24ACA6;
}