<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
 
 <!-- <context:component-scan>元素除了完成于〈context:annotation-config〉解决注入依赖工作（@Resource），还允许Spring自动检测Bean和定义Bean（@Service）。 -->
 <context:component-scan base-package="com.zonesion.layout.service">
 </context:component-scan>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource"><ref bean="dataSource" /></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref bean="dataSource" /></property>
	</bean>
	<bean id="adminDao" class="com.zonesion.layout.dao.AdminDaoImpl" >  
        <property name="jdbcTemplate"><ref bean="jdbcTemplate" /></property>  
    </bean>
    <bean id="projectDao" class="com.zonesion.layout.dao.ProjectDaoImpl" >  
        <property name="jdbcTemplate"><ref bean="jdbcTemplate" /></property>  
    </bean>
    <bean id="templateDao" class="com.zonesion.layout.dao.TemplateDaoImpl" >  
        <property name="jdbcTemplate"><ref bean="jdbcTemplate" /></property>  
    </bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://120.24.67.222:13784/db_zcloudlayout?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="username">
			<value>hadoop</value>
		</property>
		<property name="password">
			<value>zonesion@018164011650</value>
		</property>
	</bean>
</beans>