body{font-size:12px;font-family: "Î¢ÈíÑÅºÚ";}
.tab_sys{width:788px;border:#CCCCCC solid 1px;border-collapse:collapse;text-align:center;color:#333333;margin:60px auto;}
.tab_sys .tabbj{background:#F2F2F2;}
.tab_sys tr{height:28px;border:#CCCCCC solid 1px;}
.tab_sys .td_weight{font-weight:bold;}
.tab_sys th,.tab_sys td{border:#CCCCCC solid 1px;}





